body{
    background-color: rgb(151, 150, 150);
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    color: #FFF;
    margin: auto;
}

input[type='number'], input[type='text']{
    border-radius: 2%;
    line-height: 2rem;
    font-size: 1.3rem;
    width: 95%;
    margin: 0 auto;
    outline: none;
    border: 1px solid #2d9fd9;
}

button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3% 3%;
    font-size: 16px;
}

textarea{
    width: 100%;
    height: 60%;
    overflow-y: scroll;
    resize: none;
}

.table-container{
    width: 640px;
    height: 640px;
    margin: 2% 2%;
    border: 25px solid #333;
    display: table;
}

.container, .menu-container{
    margin: 2rem auto;
    padding: 0;
    width: 20%;
    min-width: 400px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
}

.puzzle-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pawn-list{
    list-style: none;
    padding: 0;
    font-size: 2rem;
    justify-content: center;
}

.pawn-list li{
    margin: auto;
    max-width: 2rem;
}

.black{
    color: #000;
    text-shadow: 2px 2px 20px rgba(255,255,255,0.61), 20px 20px 20px #000;
}

.white{
    color: #FFF;
    text-shadow: 2px 2px 20px rgba(255,255,255,0.61), 20px 20px 20px #000;
}

.h2{
    margin: 0;
}

.piece{
    cursor: hand;
}

.cell{
    float: left;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
    cursor: hand;
    color: #FFF;
}

.active-cell:hover{
    background-color: aqua;
}

.black-background{
    background-color: #441a03;
}

.white-background{
    background-color: #b5915f;
}

.active-cell:hover,
.selected-cell,
.possible-move{
    background-color: rgb(73, 113, 199);
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    box-sizing: border-box;
    border-collapse: collapse;
}

.possible-danger{
    background-color: rgb(207, 66, 73);
}

.modal-header{
    background-color: rgb(207, 66, 73);
}

.empty-piece{
    color: rgb(207, 66, 73);
    cursor: no-drop;
}

.ui-selecting {
     background: #FECA40; 
}
.ui-selected { 
    background: #F39814;
    color: white; 
}
.menu-container ol {
    list-style-type: none;
    padding: 0; 
    width: 100%; 
    overflow-y: scroll;
    max-height: 300px;
}
.menu-container li { 
    margin: 3px; 
    padding: 0.4em; 
    font-size: 1.4em; 
    height: 18px; 
    overflow: hidden;
}


.chat-container input[type='text']{
    width: 70%;
}

.chat-container button{
    width: 30%;
    margin: 0;
}

.chat-container textarea{
    width: 100%;
}

.input-container{
    display: flex;
    flex-direction: row;
}
footer{
    width: 100%;
}


.animated-img{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    max-width: 300px;
    animation-name: bounce;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}

@keyframes bounce{
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}